<?xml version="1.0" encoding="UTF-8"?>
<config>
  <businessLogic local="true"> 
	<businessLogicNode>0.0.0.0</businessLogicNode>
	<businessLogicPort>1099</businessLogicPort>
	<businessLogicName>Bets</businessLogicName>
  </businessLogic>
  <database local="false">
	<databaseNode>127.0.0.1</databaseNode>
	<dbFilename>resources/db/bets.odb</dbFilename>
	<dataBaseOpenMode>open</dataBaseOpenMode>
	<activationDepth>5</activationDepth>
	<updateDepth>5</updateDepth>
	<databasePort>8080</databasePort>
	<user>admin</user>
	<password>admin</password>
  </database>
  <locale>en</locale>
</config>